@font-face {
    font-family: OpenSans-Light;
    src: url(Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-bold;
    src: url(Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'OpenSans-Regular';
    src: url('Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('Open_Sans_Condensed/OpenSans-CondBold.ttf') format('truetype');
}


    @media only screen and (min-device-width:1000px) and (max-device-width:1500px)and (orientation:landscape){

        /*Tablet Querformat*/
       
        #startseite {
            background-image: url(start_tablet.png);
            background-size: cover;
            background-repeat:no-repeat;

        }

        .mainContent {
            width: 100%;
        }

         #uber {
            min-width: 100%;
            max-width: 300%;
            position: absolute;
            top: 15%;
            text-align: center;
        }

        #uberschrift {
            color: white;
            font-size: 2.2em;
            font-family:'Segoe WP SemiLight';
            }


        #hartmann {
            width: 15%;
            margin-top:5%;
            margin-left: 5%;
            bottom: 10px;
    
        }

        #icon {
             
               margin-top:12%;
           margin-left:24%;
           
            display:inline-block;
            text-align:center;
           
        }

			#iconiconalters{

            width:35%;
            float:left;
            height:100px;
            text-align:center;
			
			}
			
			#iconiconindustrie{
			
			 width:35%;
         
      
            float:left;
            height:100px;
            text-align:center;
            margin-top:10%;
			
			}


        #iconicon{

            width:30%;
        
            float:left;
            height:100px;
            text-align:center;
         
         

        }

        #iconicon1{

            width:30%;
         
            float:left;
            height:100px;
            margin-top:10%;
            text-align:center;

        }


        #icon span{


            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: white;
         font-size: 1.5em;  

        }


            #icon img {
                width: 90px;
                margin-left: 5%;
                margin-right: 8%;
            }

      


        /************************************Smartphone Navigation*****(min-device-width:200px) and (max-device-width:600px) {**************************************************/


    #navigation {
        width: 100%;
        position: fixed;
         height:130px;

    }


    .navii {
        position: fixed;
        background-color: #1a4064;
        width: 100%;
        height:130px;
    }

        .navii ul {
            list-style-type: none;
            height:20%;

        }



        .navii li {
            background-color: #1a4064;
            display: inline-block;
          margin-right:5%;
            height:25px;
        }

            .navii li a {
                text-decoration: none;
            }

            .navii ul li div{

                margin-top:3%;

            }

            .navii ul li div a img{

                width:70px;
                height:70px;


            }


            #divprodukt{

                text-align:center;
                margin-right:2%;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:1.6em;

            }


            #divscanner{

                text-align:center;
                 margin-right:2%;
                   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:1.6em;
            }


        .navii span {
            display: block;

            color: white;
        }

    #zurück {
        position: relative;
  
        margin-left: 10px;
        top: -15px;
    }




        #zurück img:hover {
            opacity: 0.4;
        }



    #leistungen img:hover {
        opacity: 0.4;
    }

    #scan img:hover {
        opacity: 0.4;
    }


 /*********Suchfeld formatierung***************/

    #suchen {
        width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
    
       #subsuchen {
      width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    	left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
              #prosuchen {
           width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    	left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
                     #artgrpsuchen {
        width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    	left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
                            #artgrpartsuchen {
         width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    	left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
                                   #mediacentersuche {
          width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    	left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
#suchesuche {
       width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    	left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
             #artikelsuchensuche {
        width: 360px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
    	left:58%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }

/*******************************************************/
    #bild {
        position: fixed;

        height: 54px;
        left: 89%;
        top: 31px;
        border-radius: 0px 4px 4px 0px;
    }


        #bildprgr{

            width:330px;
            height:180px;
            border-radius: 5px;

        }

	


        #bildsub{

           width:310px;
            height:180px;
            border-radius: 5px;

        }


		#subspan{
		
	   		
            height:20px;
         	margin-left:15%;
          

		}
		
		#subsub{
		
			float: left;
		font-size:1.5em;
		
		
		}
        #bildpr{

             
           width:310px;
            height:180px;
            border-radius: 5px;
           

        }

        #bildartikelgruppen{

            width:290px;
            height:180px;
            border-radius: 5px;
        }
        
        
        
        
        #prodivtrans{
        
        width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:7%;
        height:550px;
       	border-radius: 5px;
        background:rgba(255,255,255,0.5);
        text-align:center;
        
        }
        
        
        
             #subdivtrans{
        
           width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:13%;
        height:550px;
       	border-radius: 5px;
        background:rgba(255,255,255,0.5);
        text-align:center;
        
        }

        #artgrpdivtrans {
             width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:7%;
        height:550px;
       	border-radius: 5px;
        background:rgba(255,255,255,0.5);
        text-align:center;
        }

    #produktgruppen_inhalt {
        color: #1a4064;
        font-size: 1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 450px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:7%;
        margin-right:5%;
        overflow-y:scroll;

    }


    #sub {
    
        color: #1a4064;
        font-size: 1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 450px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:7%;
        margin-right:5%;
        overflow-y:scroll;

    }

    #products {
 	color: #1a4064;
        font-size: 1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 450px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:9%;
        margin-right:5%;
        overflow-y:scroll;
    }




        #artikelgrp {
           color: #1a4064;
       font-size: 1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 450px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:9%;
        margin-right:5%;
        overflow-y:scroll;
        }


    #feld {
        border-radius: 4px;
        bottom: 22px !important;
        width: 50px;
        background-color: white;
    }



    #buttonschrift {
        color: white;
    }




    #button {
        border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 60px; 


    }
      #mediacenterbutton{

        width:150px;
        background-color: #83d0e3;
        margin-left:15%;
        height:25px;


    }


    #footer{
        position: absolute;
        bottom:25px;
        


    }

    #artgrpart {
        color: #1a4064;
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
        height:300px;
        
    }
    #artikelohneartikelgruppen {
        color: #1a4064;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
        height:300px;
        
    }


    
    #produktname{
    
        font-size:1.5em;
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:center;
    color: #1a4064;
    }
    
    
    

    #artgrpbild{
    
      
          height:120px;
        width:60%;
        margin-top:1%;




    }

    #artikelgruppename{
      background-color: white; 
      border: 2px solid white;
    text-align:center;
      height:45px;
      font-size:1.5em;
     color: #1a4064;

    }
    
    #prdidv{
      background-color: white; 
      border: 2px solid white;
     margin-left:5%;
      height:45px;
    
    
    
    }


    #divaga {
      

        margin-top:13%;
        height:520px;
        width:60%;
        margin-left: 20%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       text-align:center;
        
    }
    
    #artikelgrpdiv{
    
     margin-top:7%;
        height:520px;
        width:60%;
        margin-left: 20%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:center;
    
    }

    #divmediacenter {
        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #media {
        background-color: white; 
        overflow:scroll;
        height:540px;
        margin-bottom: 10%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 30%;
        margin-right:30%;
        margin-top:7%;
        border-radius: 5px;
    }


        
                #sapnr{
            margin-left:5%;
            margin-right:10%;
            font-family: OpenSans-bold;

        }

        #sap{

            font-size:10px;
           color: #1a4064;
           height:30px;
           width:40px;
        }

        #divlink {
           width:250px; 
          height:15px;
           float: right; 
           font-family:OpenSans-Regular;
           overflow-y:scroll; 
           font-size: 1em;
       
        }


        #prgrlinks{
            
          
            
            margin-left:5%; 
            margin-right:5%;
        }

        #sublinks{
           
            
            margin-left:5%; 
            margin-right:5%;

        }

        #prolinks{
           
            
            margin-left:5%; 
            margin-right:5%;


        }


        #divsuchediv{

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:1.2em;
           margin-right:20%;
           margin-left:20%;
           margin-top:5%;
            background-color: white;
            height:450px;
            overflow:scroll;
            border-radius:5px;


        }

          #zahler{


            margin-left: 10%;
            font-size:1em;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


        }


        #buttonmedia{

            border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
      
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 60px; 

           

        }

}

    /***********************************Tablet Protrait************************************************************/



 @media only screen and (min-device-width:750px) and (max-device-width:1000px)and (orientation: portrait){

        /*Tablet Portrait*/

       
        #startseite {
            background-image: url(start_tablet_hoch.png);
            background-size: cover;
            background-repeat:no-repeat;

        }

        .mainContent {
            width: 100%;
        }

         #uber {
            min-width: 100%;
            max-width: 300%;
            position: absolute;
            top: 18%;
            text-align: center;
        }

        #uberschrift {
            color: white;
            font-size: 3em;
            font-family:'Segoe WP SemiLight';
            }


        #hartmann {
            width: 17%;
            margin-top:10%;
            margin-left: 10%;
            bottom: 10px;
    
        }

        #icon {
             
               margin-top:60%;

            display:inline-block;
            text-align:center;
           margin-left:10%;
           margin-right:10%;
        }

			#iconiconalters{

            width:35%;
            float:left;
            height:100px;
            text-align:center;
			
			}
			
			#iconiconindustrie{
			
			 width:35%;
         
      
            float:left;
            height:100px;
            text-align:center;
            margin-top:20%;
			
			}


        #iconicon{

            width:30%;
        
            float:left;
            height:100px;
            text-align:center;
         
         

        }

        #iconicon1{

            width:30%;
         
            float:left;
            height:100px;
            margin-top:20%;
            text-align:center;

        }


        #icon span{


            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: white;
         font-size: 1.5em;  

        }


            #icon img {
                width: 100px;
                margin-left: 5%;
                margin-right: 8%;
               
            }

      


        /************************************Navigation********************************************/


    #navigation {
        width: 100%;
        position: fixed;
         height:140px;

    }


    .navii {
        position: fixed;
        background-color: #1a4064;
        width: 100%;
        height:140px;
    }

        .navii ul {
            list-style-type: none;
            height:20%;

        }



        .navii li {
            background-color: #1a4064;
            display: inline-block;
          margin-right:3%;
            height:25px;
        }

            .navii li a {
                text-decoration: none;
            }

            .navii ul li div{

                margin-top:3%;

            }

            .navii ul li div a img{

                width:70px;
                height:70px;


            }


            #divprodukt{

                text-align:center;
                margin-right:2%;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:1.6em;

            }


            #divscanner{

                text-align:center;
                 margin-right:2%;
                   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:1.6em;
            }


        .navii span {
            display: block;

            color: white;
        }

    #zurück {
        position: relative;
  
        margin-left: 10px;
        top: -15px;
    }




        #zurück img:hover {
            opacity: 0.4;
        }



    #leistungen img:hover {
        opacity: 0.4;
    }

    #scan img:hover {
        opacity: 0.4;
    }


 /*********Suchfeld formatierung***************/

    #suchen {
        width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left:45%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
    
       #subsuchen {
       width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left:45%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
              #prosuchen {
           width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left:45%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
                     #artgrpsuchen {
         width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left:45%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
                            #artgrpartsuchen {
          width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left:45%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
    #mediacentersuche {
        width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left: 45%;
        font-family: meineSchrift;
        font-size: 1.5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
#suchesuche {
        width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left:45%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }
             #artikelsuchensuche {
         width: 250px !important;
        height: 30px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 30px;
        left:45%;
        font-family:meineSchrift;
        font-size:1.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1a4064;
    }

/*******************************************************/
    #bild {
        position: fixed;

        height: 54px;
        left: 85%;
        top: 31px;
        border-radius: 0px 4px 4px 0px;
    }


        #bildprgr{

            width:420px;
            height:220px;
            border-radius: 5px;

        }

	


        #bildsub{

          width:420px;
            height:220px;
            border-radius: 5px;

        }


		#subspan{
		
	   		
            height:20px;
         	margin-left:15%;
          

		}
		
		#subsub{
		
			float: left;
		font-size:1.5em;
		
		
		}
        #bildpr{

             
          width:420px;
            height:220px;
            border-radius: 5px;
           

        }

        #bildartikelgruppen{

             width:420px;
            height:220px;
            border-radius: 5px;
        }
        
        
        
        
        #prodivtrans{
        
        width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:15%;
        height:1100px;
       	border-radius: 5px;
        background:rgba(255,255,255,0.5);
        text-align:center;
        
        }
        
        
        
             #subdivtrans{
        
           width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:25%;
        height:1100px;
       	border-radius: 5px;
        background:rgba(255,255,255,0.5);
        text-align:center;
        
        }

        #artgrpdivtrans {
             width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:25%;
        height:1100px;
       	border-radius: 5px;
        background:rgba(255,255,255,0.5);
        text-align:center;
        
        }

    #produktgruppen_inhalt {
        color: #1a4064;
        font-size: 2em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 890px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:18%;
        margin-right:18%;
        overflow-y:scroll;
    }


    #sub {
    
        color: #1a4064;
        font-size: 2em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 890px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:18%;
        margin-right:18%;
        overflow-y:scroll;

    }

    #products {
 	color: #1a4064;
        font-size: 2em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 890px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:18%;
        margin-right:18%;
        overflow-y:scroll;
    }




        #artikelgrp {
           color: #1a4064;
        font-size: 2em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 890px;
        width: auto;
        top:25%;
        text-align:center;
        margin-left:18%;
        margin-right:18%;
        overflow-y:scroll;
        }


    #feld {
        border-radius: 4px;
        bottom: 22px !important;
        width: 50px;
        background-color: white;
    }



    #buttonschrift {
        color: white;
    }




    #button {
        border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 100px; 
       

    }

    #mediacenterbutton{

        width:200px;
        background-color: #83d0e3;
        margin-left:10%;
        height:35px;


    }


    #footer{
        position: absolute;
        bottom:25px;
        


    }

    #artgrpart {
        color: #1a4064;
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
        height:700px;
        
    }
    #artikelohneartikelgruppen {
        color: #1a4064;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
        height:700px;
        
    }


    
    #produktname{
    
        font-size:1.5em;
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:center;
    color: #1a4064;
    }
    
    
    

    #artgrpbild{
    
      
          height:180px;
        width:80%;
        margin-top:3%;




    }

    #artikelgruppename{
      background-color: white; 
      border: 2px solid white;
    text-align:center;
      height:45px;
      font-size:1.5em;
     color: #1a4064;

    }
    
    #prdidv{
      background-color: white; 
      border: 2px solid white;
     margin-left:5%;
      height:45px;
    
    
    
    }


    #divaga {
      

        margin-top:25%;
        height:1000px;
        width:80%;
        margin-left: 10%;
        margin-right:10%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       text-align:center;
        
    }
    
    #artikelgrpdiv{
    
     margin-top:25%;;
        height:1000px;
        width:80%;
        margin-left: 10%;
        margin-right:10%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:center;
    
    }

    #divmediacenter {
        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #media {
        background-color: white; 
        overflow:scroll;
        height:1000px;
        margin-bottom: 10%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 10%;
        margin-right:10%;
        margin-top:20%;
        border-radius: 5px;
    }


        
                #sapnr{
            margin-left:5%;
            margin-right:10%;
            font-family: OpenSans-bold;

        }

        #sap{

            font-size:1em;
           color: #1a4064;
           height:40px;
           width:40px;
        }

        #divlink {
           width:250px; 
          height:15px;
           float: right; 
           font-family:OpenSans-Regular;
           overflow-y:scroll; 
           font-size: 1em;
       
        }


        #prgrlinks{

            margin-left:5%; 
            margin-right:5%;
            overflow:scroll;
            height:800px;
        }

        #divlink{

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1em;
          
            width:300px;

        }


        #divsuchediv{

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:1.3em;
           margin-right:10%;
           margin-left:10%;
           margin-top:10%;
            background-color: white;
            height:1000px;
            overflow:scroll;
            border-radius:5px;


        }
        #zahler{

            margin-top:25%;
            margin-left: 10%;
            font-size:1.5em;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


        }



        #buttonmedia{

            border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
      
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 100px; 

           

        }

}


/***************************************************Smartphone Portrait***********************************************************/

    @media only screen and (min-device-width:200px) and (max-device-width:699px)and (orientation: portrait) {

        /*Smartphones Portrait*/

        body {
            background-image: url(start_smatphones.png);
            background-size: cover;
            background-repeat:no-repeat;

        }


        .mainContent {
            width: 100%;
        }

        #uber {
            min-width: 100%;
            max-width: 300%;
            position: absolute;
            top: 15%;
            text-align: center;
        }

        #uberschrift {
            color: white;
            font-size: 1.4em;
            font-family: OpenSans-Light;
        }


        #hartmann {
            width: 18%;
            margin-top:5%;
            margin-left: 5%;
            bottom: 10px;
    
        }
        

        #icon {
             
           margin-top:45%;
           margin-left:8%;
           margin-right:8%;
            display:inline-block;
            text-align:center;
           
       


        }

			#iconiconalters{

			
            width:28%;
            margin-left:3%;
            margin-right:3%;
            float:left;
            height:80px;
            text-align:center;
			
			}

		#iconiconindustrie{
		
		
		 width:28%;
            margin-left:3%;
            margin-right:3%;
            float:left;
            height:80px;
            text-align:center;
			margin-top:15%;
			}
			
			
        #iconicon{

            width:25%;
            margin-left:4%;
            margin-right:2%;
            float:left;
            height:80px;
            text-align:center;
         
         

        }



        #iconicon1{

            width:25%;
            margin-left:4%;
            margin-right:3%;
            float:left;
            height:80px;
            margin-top:15%;
            text-align:center;
   
            
               
         
        }


        #icon span{


            font-family: OpenSans-bold;
          color: white;
         font-size: 0.8em;  

        }


            #icon img {
                width: 50px;
                margin-left: 5%;
                margin-right: 8%;
            }

      

        /************************************Navigation**************************************************/


    #navigation {
        width: 100%;
        position: fixed;
         height:80px;

    }


    .navii {
        position: fixed;
        background-color: #1a4064;
        width: 100%;
        height:80px;
    }

        .navii ul {
            list-style-type: none;
            height:20%;

        }



        .navii li {
            background-color: #1a4064;
            display: inline-block;
          margin-right:3%;
            height:25px;
        }

            .navii li a {
                text-decoration: none;
            }

            .navii ul li div{

                margin-top:5%;

            }

            .navii ul li div a img{

                width:30px;
                height:30px;


            }


            #divprodukt{

                text-align:center;
                margin-right:2%;
                font-family:OpenSans-bold;
                    font-size:0.8em;

            }

            #divleistungen{
                 text-align:center;
                  margin-right:2%;
                    font-family:OpenSans-bold;
                    font-size:0.8em;
            }

            #divscanner{

                text-align:center;
                 margin-right:2%;
                   font-family:OpenSans-bold;
                    font-size:0.8em;
            }


        .navii span {
            display: block;
            
            color: white;
        }

    #zurück {
        position: relative;
        margin-left: -25px;
        top: -15px;
    }




        #zurück img:hover {
            opacity: 0.4;
        }



    #leistungen img:hover {
        opacity: 0.4;
    }

    #scan img:hover {
        opacity: 0.4;
    }
 /*********Suchfeld formatierung***************/

    #suchen {
        width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;
    }
    
       #subsuchen {
        width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
         top: 25px;
   		 left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
              #prosuchen {
             width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
          top: 25px;
   		 left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
                     #artgrpsuchen {
            width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
          top: 25px;
   		 left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
                            #artgrpartsuchen {
            width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
   		 left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
                                   #mediacentersuche {
            width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
         top: 25px;
   		 left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
#suchesuche {
             width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
          top: 25px;
   		 left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
             #artikelsuchensuche {
             width: 130px !important;
        height: 15px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
         top: 25px;
   		 left:34%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }

/*******************************************************/
    #bild {
        position: fixed;

        height: 30px;
        left: 86%;
        top: 24px;
        border-radius: 4px;
    }


        #bildprgr{

            width:230px;
            height:120px;
            border-radius: 4px;

        }

		#prgrspan{
		
	   		
            height:20px;
         	margin-left:15%;
          

		}
		
		#prgr{
		
			float: left;
		font-size:1.2em;
		
		
		}


        #bildsub{

            width:230px;
            height:120px;
            border-radius: 4px;

        }


		#subspan{
		
	   		
            height:20px;
         	margin-left:15%;
          

		}
		
		#subsub{
		
			float: left;
		font-size:1.2em;
		
		
		}
        #bildpr{

             
            width:230px;
            height:120px;
            border-radius: 4px;
           

        }

        #bildartikelgruppen{

             width:230px;
            height:120px;
            border-radius: 4px;
        }
        
        
        
        
        #prodivtrans{
        
        width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:10%;
     	
        height:470px;
       	border-radius: 4px;
        background:rgba(255,255,255,0.5);
        
        }
        
        
        
        
             #subdivtrans{
        
        width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:33%;	
        height:470px;
       	border-radius: 4px;
        background:rgba(255,255,255,0.5);
        
        }
        
        #artgrpdivtrans{
           width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:10%;
     	
        height:470px;
       	border-radius: 4px;
        background:rgba(255,255,255,0.5);
        }

    #produktgruppen_inhalt {
        color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 435px;
        width: auto;
        top:25%;
        text-align:center;

    }


    #sub {
    
        color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 435px;
        width: auto;
        top:25%;
        text-align:center;

    }

    #products {
 	color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 435px;
        width: auto;
        top:25%;
        text-align:center;

    }




    #artikelgrp {
     	color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 435px;
        width: auto;
        top:25%;
        text-align:center;
    }



    #Produktgruppen {
        color: #1a4064;
        font-family:OpenSans-Regular;
       
        font-size: 15px;
    }

    #artikelgrp {
        color: #1a4064;
       font-family:OpenSans-Regular;
       font-size: 15px;
      
    }




    #artgrp {
        color: #1a4064;
        font-family:OpenSans-Regular;
       font-size: 15px;
        
    }




    #produktname {
        color: #1a4064;
        font-family:OpenSans-Regular;
       font-size: 15px;
    }



    #feld {
        border-radius: 4px;
        bottom: 22px !important;
        width: 50px;
        background-color: white;
    }



    #buttonschrift {
        color: white;
    }




    #button {
        border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
      
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 60px; 


    }


    #footer{
        position: absolute;
        bottom:25px;
        


    }

    #artgrpart {
        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 12px;
        margin-left: 5%;
        margin-right: 5%;
        height:300px;
        
    }

    #artgrp{

        font-size:13px;
         font-family: OpenSans-bold;
         
    }

    #artgrpbild{
    
      
          height:90px;
        width:80%;
        margin-left:10%;
        margin-right:10%;




    }

    #artikelgruppename{
      background-color: white; 
      border: 2px solid white;
     margin-left:5%;
      height:45px;

    }


    #divaga {
      

        
        
    }
   
    
      #artikelgrpdiv{

            margin-top: 25%;
        height:600px;
        margin-left: 5%;
        margin-right: 5%;
        font-family:OpenSans-Regular;
       
        
          
        }
    
    
    

    #divmediacenter {
        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #media {
        background-color: white; 
        overflow:scroll;
        height:450px;
        margin-bottom: 10%;
        font-family: OpenSans-Regular;
        margin-left: 4%;
        margin-right:4%;
        margin-top:5%
    }

        #media span {
            display: inline;
            font-family: OpenSans-Regular;
            color: #1a4064;
            font-size: 0.6em;
         
        }

        
                #sapnr{
            margin-left:5%;
            margin-right:10%;
            font-family: OpenSans-bold;

        }

        #sap{

            font-size:1em;
           color: #1a4064;
           height:30px;
           width:40px;
        }

        #divlink {
           width:250px; 
          
           float: right; 
           font-family:OpenSans-Regular;
           overflow-y:scroll; 
           font-size: 1em;
       
        }


        #prgrlinks{
            
          
           
            margin-left:5%; 
            margin-right:5%;
        }

        #sublinks{
           
            
            margin-left:5%; 
            margin-right:5%;

        }

        #prolinks{
           
            
            margin-left:5%; 
            margin-right:5%;


        }


        #divsuchediv{

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:1.2em;
           margin-right:20%;
           margin-left:20%;
            background-color: white;
            height:450px;
            overflow:scroll;
            border-radius: 5px;


        }


      

        #artikelohneartikelgruppen{

        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 12px;
        margin-left: 5%;
        margin-right: 5%;
        height:300px;
        

        }

        #buttonmedia{

       
            border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
      
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 60px; 
            
           

        }

}



/********************************************Smartphone Querformat************************************************************/
   
  @media only screen and (min-device-width:200px) and (max-device-width:699px)and (orientation:landscape){

        /*Smartphones Querformat*/

        body {
            background-image: url(start_smatphones.png);
            background-size: cover;
            background-repeat:no-repeat;

        }


        .mainContent {
            width: 100%;
        }

         #uber {
            min-width: 100%;
            max-width: 300%;
            position: absolute;
            top: 15%;
            text-align: center;
        }

        #uberschrift {
            color: white;
            font-size: 1.4em;
            font-family: OpenSans-Light;
        }


        #hartmann {
            width: 18%;
            margin-top:5%;
            margin-left: 5%;
            bottom: 10px;
    
        }
        

        #icon {
             
               margin-top:12%;
           margin-left:22%;
           margin-right:8%;
            display:inline-block;
            text-align:center;
           
        }

			#iconiconalters{

            width:28%;
        
            
            float:left;
            height:80px;
            text-align:center;
			
			}
			
			#iconiconindustrie{
			
			 width:28%;
         
      
            float:left;
            height:80px;
            text-align:center;
            margin-top:10%;
			
			}


        #iconicon{

            width:25%;
        
            float:left;
            height:80px;
            text-align:center;
         
         

        }

        #iconicon1{

            width:25%;
         
            float:left;
            height:80px;
            margin-top:10%;
            text-align:center;

        }


        #icon span{


            font-family: OpenSans-bold;
          color: white;
         font-size: 0.8em;  

        }


            #icon img {
                width: 50px;
                margin-left: 5%;
                margin-right: 8%;
            }

      


/************************************************Navigation*************************************************/


    #navigation {
        width: 100%;
        position: fixed;
         height:80px;

    }


    .navii {
        position: fixed;
        background-color: #1a4064;
        width: 100%;
        height:80px;
    }

        .navii ul {
            list-style-type: none;
            height:20%;

        }



        .navii li {
            background-color: #1a4064;
            display: inline-block;
          margin-right:8%;
            height:25px;
        }

            .navii li a {
                text-decoration: none;
            }

            .navii ul li div{

                margin-top:3%;

            }

            .navii ul li div a img{

                width:40px;
                height:40px;


            }


            #divprodukt{

                text-align:center;
                margin-right:2%;
                font-family:OpenSans-bold;
                    font-size:0.8em;

            }


            #divscanner{

                text-align:center;
                 margin-right:2%;
                   font-family:OpenSans-bold;
                    font-size:0.8em;
            }


        .navii span {
            display: block;
            
            color: white;
        }

    #zurück {
        position: relative;
        margin-left: -25px;
        top: -15px;
    }




        #zurück img:hover {
            opacity: 0.4;
        }



    #leistungen img:hover {
        opacity: 0.4;
    }

    #scan img:hover {
        opacity: 0.4;
    }
 /*********Suchfeld formatierung***************/

    #suchen {
        width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;
    }
    
       #subsuchen {
        width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
              #prosuchen {
            width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
                     #artgrpsuchen {
            width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
                            #artgrpartsuchen {
           width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
                                   #mediacentersuche {
            width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;

    }
#suchesuche {
        width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;
    }
             #artikelsuchensuche {
            width: 160px !important;
        height: 20px !important;
        position: fixed;
        background-position: right;
        border-radius: 4px;
        border-color: #1a4064;
        top: 25px;
    	left:50%;
        font-family:meineSchrift;
        font-size:12px;
        font-family:OpenSans-bold;
    }

/*******************************************************/
    #bild {
        position: fixed;

        height: 32px;
        left: 86%;
        top: 24px;
        border-radius: 0px 4px 4px 0px;
    }


        #bildprgr{

            width:270px;
            height:160px;
            border-radius: 4px;

        }

		#prgrspan{
		
	   		
            height:20px;
         	margin-left:15%;
          

		}
		
		#prgr{
		
			float: left;
		font-size:1.5em;
		
		
		}


        #bildsub{

           width:270px;
            height:160px;
            border-radius: 4px;

        }


		#subspan{
		
	   		
            height:20px;
         	margin-left:15%;
          

		}
		
		#subsub{
		
			float: left;
		font-size:1.5em;
		
		
		}
        #bildpr{

             
           width:270px;
            height:160px;
            border-radius: 4px;
           

        }

        #bildartikelgruppen{

             width:270px;
            height:160px;
            border-radius: 4px;
        }
        
        
        
        
        #prodivtrans{
        
        width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:2%;
        height:220px;
       	border-radius: 4px;
        background:rgba(255,255,255,0.5);
        
        }
        
        
        
             #subdivtrans{
        
         width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:15%;
        height:220px;
       	border-radius: 4px;
        background:rgba(255,255,255,0.5);
        
        }
        
        #artgrpdivtrans{
            width:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top:2%;
        height:220px;
       	border-radius: 4px;
        background:rgba(255,255,255,0.5);
        }

    #produktgruppen_inhalt {
        color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 180px;
        width: auto;
        top:25%;
        text-align:center;

    }


    #sub {
    
        color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 180px;
        width: auto;
        top:25%;
        text-align:center;

    }

    #products {
 	color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 180px;
        width: auto;
        top:25%;
        text-align:center;
    }




    #artikelgrp {
     	color: #1a4064;
        font-size: 0.8em;
        font-family:OpenSans-Regular;
        height: 180px;
        width: auto;
        top:25%;
        text-align:center;
    }



    #Produktgruppen {
        color: #1a4064;
        font-family:OpenSans-Regular;
       
        font-size: 15px;
    }

    #artikelgrp {
        color: #1a4064;
       font-family:OpenSans-Regular;
       font-size: 15px;
      
    }




    #artgrp {
        color: #1a4064;
        font-family:OpenSans-Regular;
       font-size: 15px;
        
    }






    #feld {
        border-radius: 4px;
        bottom: 22px !important;
        width: 50px;
        background-color: white;
    }



    #buttonschrift {
        color: white;
    }




    #button {
        border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
      
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 60px; 


    }


    #footer{
        position: absolute;
        bottom:25px;
        


    }

    #artgrpart {
        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 12px;
        margin-left: 5%;
        margin-right: 5%;
        height:300px;
        
    }
    #artikelohneartikelgruppen {
        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 12px;
        margin-left: 5%;
        margin-right: 5%;
        height:300px;
        
    }

    #artgrp{

        font-size:13px;
         font-family: OpenSans-bold;
         
    }
    
    #produktname{
    
        font-size:13px;
         font-family: OpenSans-bold
    
    
    }
    
    
    

    #artgrpbild{
    
      
          height:90px;
        width:80%;
        margin-left:10%;
        margin-right:10%;




    }

    #artikelgruppename{
      background-color: white; 
      border: 2px solid white;
     margin-left:5%;
      height:45px;

    }
    
    #prdidv{
      background-color: white; 
      border: 2px solid white;
     margin-left:5%;
      height:45px;
    
    
    
    }


    #divaga {
      

        margin-top: 25%;
        height:470px;
        margin-left: 5%;
        margin-right: 5%;
        font-family:OpenSans-Regular;
       
        
    }
    
    #artikelgrpdiv{
    
     margin-top: 25%;
        height:470px;
        margin-left: 5%;
        margin-right: 5%;
        font-family:OpenSans-Regular;
    
    
    }

    #divmediacenter {
        color: #1a4064;
        font-family: OpenSans-Regular;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #media {
        background-color: white; 
        overflow:scroll;
        height:450px;
        margin-bottom: 10%;
        font-family: OpenSans-Regular;
        margin-left: 4%;
        margin-right:4%;
        margin-top:5%
    }

        #media span {
            display: inline;
            font-family: OpenSans-Regular;
            color: #1a4064;
            font-size: 0.6em;
         
        }

        
                #sapnr{
            margin-left:5%;
            margin-right:10%;
            font-family: OpenSans-bold;

        }

        #sap{

            font-size:10px;
           color: #1a4064;
           height:30px;
           width:40px;
        }

        #divlink {
           width:250px; 
          
           float: right; 
           font-family:OpenSans-Regular;
           overflow-y:scroll; 
           font-size: 0.6em;
       
        }


        #prgrlinks{
            
          
            overflow-y:scroll; 
            margin-left:5%; 
            margin-right:5%;
        }

        #sublinks{
           
            overflow-y:scroll; 
            margin-left:5%; 
            margin-right:5%;

        }

        #prolinks{
           
            overflow-y:scroll; 
            margin-left:5%; 
            margin-right:5%;


        }


        #divsuchediv{

            font-family:OpenSans-Regular;
            font-size:0.7em;
           margin-right:5%;
           margin-left:5%;
            background-color: white;
            height:450px;
            overflow:scroll;


        }


        #artikelgrpdiv{

            background-color: white;
            height:455px;
           margin-left: 5%;
           margin-right: 5%;
           margin-top:5%;
           overflow:scroll; 
           border-radius:3px;
        
          
        }

     

        #buttonmedia{

            border-radius: 3px;
        font-family:OpenSans-bold;
        position:relative;
      
       background-color:#eaf4f5; 
       margin-left:0%; 
       width:100%; 
       height: 60px; 

           

        }

}











