@charset "utf-8";

@font-face{

    font-family: meineSchrift;
    src:url(Open_Sans/OpenSans-Light.ttf); 

}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {




#hintergrundbild{
   
  position: absolute;
  align-content: center;

}


#uberschrift{
    
    color: white;
    position: absolute;
    font-size: 35px;  
    font-family: meineSchrift;
    text-align: center;
    top: 185px;
    left: 200px;
     
}


#logo{

    z-index: 1;
    position: absolute;
    top: 29px;
    margin-left: 41px;
}



#icon{
   
   position: relative;
   top: 400px;
   margin-right: 117px;
   align-content: center;
   margin-left: 117px;
   

}

#icon1{
   margin-right: 117px;
    position: relative;
    align-content: center;
   margin-left: 117px;
    top: 550px;
   

}

#schrift{

   position: relative;
   margin-right: 110px;
   align-content: center;
   margin-left: 112px;
   top: 375px;
   

}


}